1. Import the necessary libraries in your notebook shell. Following to which, Import and Load the provided data in your notebook in csv format.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
car_data=pd.read_csv('D:/Digikull_Data_Scence/data_set/Car_Details_Data.csv')

In [4]:
car_data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

2. Check for dimensions of the data.

In [5]:
car_data.shape

(4340, 8)

In [6]:
car_data.size

34720

In [7]:
car_data.ndim

2

3. Find out unique row values for following columns:
	1. name
	2. year
	3. fuel
	4. transmission
	5. owner

In [8]:
car_data['name'].unique()

array(['Maruti 800 AC', 'Maruti Wagon R LXI Minor',
       'Hyundai Verna 1.6 SX', ..., 'Mahindra Verito 1.5 D6 BSIII',
       'Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV',
       'Hyundai i20 Magna 1.4 CRDi'], dtype=object)

In [9]:
car_data['year'].unique()

array([2007, 2012, 2017, 2014, 2016, 2015, 2018, 2019, 2013, 2011, 2010,
       2009, 2006, 1996, 2005, 2008, 2004, 1998, 2003, 2002, 2020, 2000,
       1999, 2001, 1995, 1997, 1992], dtype=int64)

In [10]:
car_data['fuel'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [11]:
car_data['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [12]:
car_data['owner'].unique()

array(['First Owner', 'Second Owner', 'Fourth & Above Owner',
       'Third Owner', 'Test Drive Car'], dtype=object)

In [13]:
car_data[(car_data['owner']=='First Owner')].count()

name             2832
year             2832
selling_price    2832
km_driven        2832
fuel             2832
seller_type      2832
transmission     2832
owner            2832
dtype: int64

4. Add a column named- 'brand' in the above dataset using column 'name' which will give the brand's name of car. e.g.- (Tata, Mahindra,etc.)

In [14]:
car_data.rename(columns={'name':'Brand'})

,Brand,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

5. Produce the Brand wise number of cars listed in the agency.

In [15]:
brand_count=car_data.groupby(["name"]).count()
brand_count

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
name,,,,,,,
Ambassador CLASSIC 1500 DSL AC,2,2,2,2,2,2,2
Ambassador Classic 2000 Dsz,1,1,1,1,1,1,1
Ambassador Grand 1800 ISZ MPFI PW CL,1,1,1,1,1,1,1
Audi A4 1.8 TFSI,1,1,1,1,1,1,1
Audi A4 2.0 TDI,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...
Volkswagen Vento Petrol Highline AT,2,2,2,2,2,2,2
Volvo V40 D3 R Design,1,1,1,1,1,1,1
Volvo XC 90 D5 Inscription BSIV,1,1,1,1,1,1,1
Volvo XC60 D3 Kinetic,1,1,1,1,1,1,1
Volvo XC60 D5 Inscription,1,1,1,1,1,1,1

6. Produce the table giving the count of cars in possession with respect to it's make year

In [16]:
count_of_car_pos=car_data.groupby(['name'])['year'].count()
count_of_car_pos

name
Ambassador CLASSIC 1500 DSL AC          2
Ambassador Classic 2000 Dsz             1
Ambassador Grand 1800 ISZ MPFI PW CL    1
Audi A4 1.8 TFSI                        1
Audi A4 2.0 TDI                         1
                                       ..
Volkswagen Vento Petrol Highline AT     2
Volvo V40 D3 R Design                   1
Volvo XC 90 D5 Inscription BSIV         1
Volvo XC60 D3 Kinetic                   1
Volvo XC60 D5 Inscription               1
Name: year, Length: 1491, dtype: int64

7. Produce the list of Top 5 cars in each fuel type category with respect to maximum selling price

In [17]:
car_data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [42]:
Top_5=car_data.groupby(['fuel']).sort_values(by="selling_price",ascending=False)
for i in Top_5:
    print('\n')
    print("Group:")
    
    print(i)

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'

In [33]:
Top_5.get_group('CNG').sort_values(by="selling_price",ascending=False).head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
4076,Maruti Ertiga VXI CNG,2014,595000,56600,CNG,Dealer,Manual,First Owner
3464,Maruti Ertiga VXI CNG,2018,587000,80000,CNG,Individual,Manual,First Owner
712,Maruti Ertiga VXI CNG,2013,525000,56228,CNG,Dealer,Manual,First Owner
2785,Hyundai Santro Magna CNG BSIV,2019,520000,10000,CNG,Individual,Manual,First Owner
3112,Maruti Eeco CNG 5 Seater AC BSIV,2020,495000,7000,CNG,Individual,Manual,First Owner

In [20]:
car_data.fuel.unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [37]:
Top_5.get_group('Petrol').sort_values(by="selling_price",ascending=False).head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
3872,Audi RS7 2015-2019 Sportback Performance,2016,8900000,13000,Petrol,Dealer,Automatic,First Owner
2580,Mercedes-Benz E-Class Exclusive E 200 BSIV,2018,4500000,9800,Petrol,Dealer,Automatic,First Owner
101,Mercedes-Benz E-Class Exclusive E 200 BSIV,2018,4500000,9800,Petrol,Dealer,Automatic,First Owner
988,Land Rover Discovery S 2.0 SD4,2018,4000000,68000,Petrol,Individual,Automatic,First Owner
1065,Audi A4 30 TFSI Technology,2018,3100000,22000,Petrol,Individual,Automatic,First Owner

In [38]:
Top_5.get_group('Diesel').sort_values(by="selling_price",ascending=False).head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
89,Mercedes-Benz S-Class S 350d Connoisseurs Edition,2017,8150000,6500,Diesel,Dealer,Automatic,First Owner
3969,Mercedes-Benz GLS 2016-2020 350d 4MATIC,2016,5500000,77350,Diesel,Dealer,Automatic,First Owner
919,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
612,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
593,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner

In [40]:
Top_5.get_group('LPG').sort_values(by="selling_price",ascending=False).head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
1435,Hyundai i10 Magna LPG,2014,290000,29000,LPG,Individual,Manual,First Owner
1998,Hyundai i10 Magna LPG,2013,275000,90000,LPG,Individual,Manual,Second Owner
495,Hyundai Santro Xing GLS Audio LPG,2012,250000,100000,LPG,Individual,Manual,First Owner
657,Hyundai i10 Magna LPG,2013,250000,88600,LPG,Individual,Manual,First Owner
3752,Hyundai EON LPG Magna Plus,2015,240000,110000,LPG,Individual,Manual,First Owner

In [41]:
Top_5.get_group('Electric').sort_values(by="selling_price",ascending=False).head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
4145,Toyota Camry Hybrid,2006,310000,62000,Electric,Dealer,Automatic,Second Owner

OR

In [45]:
top=car_data.sort_values(by="selling_price",ascending=False).groupby('fuel').head(5)
top

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
3872,Audi RS7 2015-2019 Sportback Performance,2016,8900000,13000,Petrol,Dealer,Automatic,First Owner
89,Mercedes-Benz S-Class S 350d Connoisseurs Edition,2017,8150000,6500,Diesel,Dealer,Automatic,First Owner
3969,Mercedes-Benz GLS 2016-2020 350d 4MATIC,2016,5500000,77350,Diesel,Dealer,Automatic,First Owner
2258,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
612,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
1836,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
2580,Mercedes-Benz E-Class Exclusive E 200 BSIV,2018,4500000,9800,Petrol,Dealer,Automatic,First Owner
101,Mercedes-Benz E-Class Exclusive E 200 BSIV,2018,4500000,9800,Petrol,Dealer,Automatic,First Owner
988,Land Rover Discovery S 2.0 SD4,2018,4000000,68000,Petrol,Individual,Automatic,First Owner
1065,Audi A4 30 TFSI Technology,2018,3100000,22000,Petrol,Individual,Automatic,First Owner
4076,Maruti Ertiga VXI CNG,2014,595000,56600,CNG,Dealer,Manual,First Owner
3464,Maruti Ertiga VXI CNG,2018,587000,80000,CNG,Individual,Manual,First Owner
712,Maruti Ertiga VXI CNG,2013,525000,56228,CNG,Dealer,Manual,First Owner
2785,Hyundai Santro Magna CNG BSIV,2019,520000,10000,CNG,Individual,Manual,First Owner
3112,Maruti Eeco CNG 5 Seater AC BSIV,2020,495000,7000,CNG,Individual,Manual,First Owner
4145,Toyota Camry Hybrid,2006,310000,62000,Electric,Dealer,Automatic,Second Owner
1435,Hyundai i10 Magna LPG,2014,290000,29000,LPG,Individual,Manual,First Owner
1998,Hyundai i10 Magna LPG,2013,275000,90000,LPG,Individual,Manual,Second Owner
495,Hyundai Santro Xing GLS Audio LPG,2012,250000,100000,LPG,Individual,Manual,First Owner
657,Hyundai i10 Magna LPG,2013,250000,88600,LPG,Individual,Manual,First Owner
2380,Maruti Wagon R Duo Lxi,2010,240000,50000,LPG,Dealer,Manual,First Owner

8. Produce the list of Top 5 cars with minimum Selling price and minimum kms driven

In [47]:
Min_sell_min_kms=car_data.sort_values(['selling_price','km_driven']).head()
Min_sell_min_kms

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
2662,Ford Ikon 1.6 ZXI NXt,2005,20000,25000,Petrol,Individual,Manual,Second Owner
2495,Ford Ikon 1.4 ZXi,2000,22000,42743,Petrol,Dealer,Manual,Third Owner
2444,Maruti 800 EX,2004,30000,60000,Petrol,Individual,Manual,Third Owner
1832,Tata Nano LX SE,2012,35000,35000,Petrol,Individual,Manual,Third Owner
2849,Tata Nano Std BSII,2009,35000,50000,Petrol,Individual,Manual,Third Owner

9. Suggest car names to be considered for buying; one in Automatic and other in Manual Transmission type with valid justification! (Use values of other columns to back your answer)

In [60]:
name_top_3_car=car_data.sort_values('selling_price').groupby('fuel').head(3)
name_top_3_car['name']

2662              Ford Ikon 1.6 ZXI NXt
2495                  Ford Ikon 1.4 ZXi
2444                      Maruti 800 EX
1782                    Tata Indica DLE
3014                    Maruti Omni CNG
334                     Tata Indica DLX
2878        Ambassador Classic 2000 Dsz
1699          Maruti Omni 5 Str STD LPG
2546           Maruti Omni LPG STD BSIV
3781       Maruti Wagon R LXI DUO BSIII
2493        Maruti Alto Green LXi (CNG)
664     Hyundai Santro Xing GL PLUS CNG
4145                Toyota Camry Hybrid
Name: name, dtype: object